
a:visited, a
  color lightblue

header
  p
    width 60%
body
  background-color black
  font-family monospace
  color white

.log
  margin-top 2px
  font-size 9pt
  p
    margin-top 0px
    margin-bottom 0px
  .info
    float left
    width 45%
    margin-right 0px
  .error
    float left
    color red
    width 45%
    margin-right 5em



.lightSimulator
  float left
  padding 1em
  border-radius 10px
  margin 1em
  table
    font-size 9pt
    text-align left
    td,th
      padding 3px
      background-color black !important
    .rgbValue
      width 100px

.devices


.clear
  clear both
  padding 5em

