{
  servers:
    httpPort: 8080
    udpPort: 9909
  hosts:
    enttec1:
      # path: "/dev/serial/by-id/usb-FTDI_FT245R_USB_FIFO_ENP9D7H7-if00-port0"
      # path: "/dev/serial/by-id/usb-FTDI_USB__-__Serial-if00-port0"
      path: "/dev/null"
      type: "enttec"
  mapping:
    light:
      0:
        name: "testi lamppu"
        host: "enttec1"
        type: "rgb"
        address: 2
      1:
        name: "testi lamppu"
        host: "enttec1"
        type: "rgb"
        address: 8
      2:
        name: "testi lamppu"
        host: "enttec1"
        type: "rgb"
        address: 16
      3:
        name: "testi lamppu"
        host: "enttec1"
        type: "rgb"
        address: 24
      4:
        name: "testi lamppu"
        host: "enttec1"
        type: "rgb"
        address: 32
      5:
        name: "testi lamppu"
        host: "enttec1"
        type: "rgb"
        address: 40
      6:
        name: "testi lamppu"
        host: "enttec1"
        type: "rgb"
        address: 48
}
