{
  servers:
    httpPort: 8080
    udpPort: 9909
    webSocketPort: 9910
    webSocketHost: "0.0.0.0"
  hosts:
    enttec1:
      # path: "/dev/serial/by-id/usb-FTDI_FT245R_USB_FIFO_ENP9D7H7-if00-port0"
      # path: "/dev/serial/by-id/usb-FTDI_USB__-__Serial-if00-port0"
      # path: "/dev/serial/by-id/usb-FTDI_USB__-__Serial-if00-port0"
      # path: "/dev/serial/by-id/usb-ENTTEC_DMX_USB_PRO_ENR35XBU-if00-port0"
      type: "enttec"
  mapping:
    light:
      0:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 60
      1:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 65
      2:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 70
      3:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 75
      4:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 80
      5:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 85
      6:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 90
      7:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 95
      8:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 100
      9:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 105
      10:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 110
      11:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 115
      12:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 120
      13:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 125
      14:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 130
      15:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 135
      16:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 140
      17:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 145
      18:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 150
      19:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 155
      20:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 160
      21:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 165
      22:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 170
      23:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 175
      24:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 180
      25:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 185
      26:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 190
      27:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 195
      28:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 200
      29:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 205
      30:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 210
      31:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 215
      32:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 220
      33:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 225
      34:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 230
      35:
        name: "sali rgb"
        host: "enttec1"
        type: "rgb"
        address: 235
}
