
<table>

  <tr>
      <th>Virtual ID </th>
      <td class="virtualId">
      {{id}}
      </td>

  </tr>

  <tr>
      <th>Name </th>
      <td class="virtualId">
      {{name}}
      </td>

  </tr>
<!--
  <tr>
      <th> DMX-Address </th>
      <td class="adress">
      {{address}}
      </td>

  </tr>

  <tr>
      <th> Dip config </th>
      <td class="dip">
      {{dipConfig}}
      </td>
  </tr>
-->

  <tr>
      <th> RGB value</th>
      <td class="rgbValue">
      </td>
  </tr>


</table>

