{{{clientTemplate "light"}}}

<h1>Effect Server</h1>

<p>
We are listening on UDP port {{udpPort}}
</p>

<div class=devices >

</div>


<div class=clear></div>

<div class=log >

<div class=error>
  My error message
</div>


<div class=info>
  Just some info
</div>


</div>
