{{{clientTemplate "light"}}}

<header>
<h1>Effect Server</h1>

<p>

Valot kuuntelevat UDP-paketteja koneen 192.168.10.1 portissa {{udpPort}}

</p>

<p>
Yksinkertainen koodiesimerkki löytyy <a href="https://github.com/epeli/effectserver/blob/master/examples/python.py">tästä</a> ja hieman nokkelmampi <a href="https://github.com/epeli/effectserver/blob/master/examples/instanssi.py">täältä</a>.

</p>

<p>
    <a href="#log">Debug logi löytyy sivun alalaidasta.</a>
</p>

<p>

Käyttäkää vapaasti, mutta muistakaa, että pitkästä while(1){}:stä saa
ip-bannin. Kaikkien pitää saada leikkiä! :)

</p>


</header>

<div class=devices >

</div>


<div class=clear></div>

<h2 id=log >Debug log</h2>

<div class=log >

<div class=info>
logi...
</div>

<div class=error>
virheet...
</div>



</div>
